body {
  background-color: rgb(14, 14, 14);
  box-sizing: border-box;
  color: #333;
  display: flex;
  align-items: center;
}

main {
  width: 1000px;
  margin: 100px auto;
}

.gallery {
  margin: 0;
  /* box-shadow: 0 0 0 3px #333; */
  border-radius: 2px;
  display: flex;
  /* flex-flow: row wrap; */
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.gallery li {
  max-width: 240px;
  max-height: 180px;
}

li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  transition: 200ms ease-in-out opacity;
  position: relative;
  display: block;
}

li img:hover {
  opacity: 1;
}

.gallery_title {
  color: white;
  text-align: center;
  margin: 40px;
  font-size: 30px;
}

.gallery_title span {
  color: rgb(26, 255, 162);
}
